/* Media Query */

/* Media Queries - Full Responsive */
/* Mobile */
/*
@media only screen and (max-width: 480px) {
     body {
         background-color: rgb(243, 176, 198);
}  
*/
/* Tablet */
/* @media only screen and (min-width: 481px) and (max-width: 968px) {
    body {
        background-color: #bd75e7;
    }
}
/* Desktop */
/* @media only screen and (min-width: 969px) {
    body {
        background-color: var(--white);
    }
} */

/*
$small: 480px;
$medium: 481px;
$large: 969px;
*/
