/* Son listas mas potenciadas, no de un solo estilo o naturaleza sino
varias-muy parecido a un Objeto en JS */

$boton-nav: (
    text-decoration: none,
    font-size: 21px,
    margin: 0 10px,
)

/* Se llama asi 

.standard {
    background-color: map-get($standard, bg-color-standard);
}

*/